USE [master]
GO
/****** Object:  Database [dBEczane]    Script Date: 5.09.2019 16:57:54 ******/
CREATE DATABASE [dBEczane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dBEczane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\dBEczane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dBEczane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\dBEczane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dBEczane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dBEczane]
GO
USE [dBEczane]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[CategoryName] [nchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Title] [nvarchar](20) NULL,
	[Phone] [char](11) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineDetails]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineDetails](
	[Id] [int] NOT NULL,
	[MedicineBarcode] [char](6) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[Stock] [int] NOT NULL,
	[PurchasePrice] [money] NOT NULL,
	[Usage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MedicineDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderToSuppliers]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderToSuppliers](
	[Id] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[RequiredQuantity] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[RequiredDate] [date] NOT NULL,
 CONSTRAINT [PK_OrderToSuppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] NOT NULL,
	[TC] [char](11) NOT NULL,
	[SGKType] [varchar](15) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](20) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceteDetails]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceteDetails](
	[Id] [int] NOT NULL,
	[ReceteNo] [char](5) NOT NULL,
	[MedicineID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
 CONSTRAINT [PK_ReceteDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return](
	[Id] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[MedicineBarcode] [char](6) NOT NULL,
	[ReturnQuantity] [int] NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_Return] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetails]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetails](
	[Id] [int] NOT NULL,
	[SalesID] [int] NOT NULL,
	[ReceteDetailsID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SalesPrice] [money] NOT NULL,
	[SGKType] [varchar](15) NOT NULL,
 CONSTRAINT [PK_SalesDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5.09.2019 16:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] NOT NULL,
	[CompanyName] [nvarchar](30) NULL,
	[ContactName] [nvarchar](30) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [char](11) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patients]    Script Date: 5.09.2019 16:57:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patients] ON [dbo].[Patients]
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ReceteNoUnique]    Script Date: 5.09.2019 16:57:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ReceteNoUnique] ON [dbo].[ReceteDetails]
(
	[ReceteNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Return]    Script Date: 5.09.2019 16:57:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Return] ON [dbo].[Return]
(
	[MedicineBarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sales]    Script Date: 5.09.2019 16:57:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Sales] ON [dbo].[Sales]
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MedicineDetails]  WITH CHECK ADD  CONSTRAINT [FK_MedicineDetails_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[MedicineDetails] CHECK CONSTRAINT [FK_MedicineDetails_Categories]
GO
ALTER TABLE [dbo].[OrderToSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_OrderToSuppliers_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[OrderToSuppliers] CHECK CONSTRAINT [FK_OrderToSuppliers_Employees]
GO
ALTER TABLE [dbo].[OrderToSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_OrderToSuppliers_MedicineDetails] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[MedicineDetails] ([Id])
GO
ALTER TABLE [dbo].[OrderToSuppliers] CHECK CONSTRAINT [FK_OrderToSuppliers_MedicineDetails]
GO
ALTER TABLE [dbo].[OrderToSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_OrderToSuppliers_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[OrderToSuppliers] CHECK CONSTRAINT [FK_OrderToSuppliers_Supplier]
GO
ALTER TABLE [dbo].[ReceteDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceteDetails_MedicineDetails] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[MedicineDetails] ([Id])
GO
ALTER TABLE [dbo].[ReceteDetails] CHECK CONSTRAINT [FK_ReceteDetails_MedicineDetails]
GO
ALTER TABLE [dbo].[ReceteDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceteDetails_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[ReceteDetails] CHECK CONSTRAINT [FK_ReceteDetails_Patients]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_MedicineDetails] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[MedicineDetails] ([Id])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_MedicineDetails]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_MedicineDetails1] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[MedicineDetails] ([Id])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_MedicineDetails1]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_Supplier]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Employees]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Patients]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Supplier]
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesDetails_ReceteDetails] FOREIGN KEY([ReceteDetailsID])
REFERENCES [dbo].[ReceteDetails] ([Id])
GO
ALTER TABLE [dbo].[SalesDetails] CHECK CONSTRAINT [FK_SalesDetails_ReceteDetails]
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesDetails_Sales] FOREIGN KEY([SalesID])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[SalesDetails] CHECK CONSTRAINT [FK_SalesDetails_Sales]
GO
ALTER TABLE [dbo].[MedicineDetails]  WITH CHECK ADD  CONSTRAINT [CK_MedicineDetails] CHECK  (([ExpirationDate]<getdate()))
GO
ALTER TABLE [dbo].[MedicineDetails] CHECK CONSTRAINT [CK_MedicineDetails]
GO
ALTER TABLE [dbo].[OrderToSuppliers]  WITH CHECK ADD  CONSTRAINT [CK_OrderToSuppliers] CHECK  (([OrderDate]<=[RequiredDate]))
GO
ALTER TABLE [dbo].[OrderToSuppliers] CHECK CONSTRAINT [CK_OrderToSuppliers]
GO
USE [master]
GO
